<ion-content>
  <ion-slides  #LoginSlide>
    <ion-slide>
      sdjkbfjbfdsbifhdishfiudhsifuhsdiuhfidsuh
      <ion-button (click)="swipeNext()">Next</ion-button>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-input type="email" placeholder="Enter your email" [(ngModel)]="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="key" slot="start"></ion-icon>
                <ion-input type="password" placeholder="Enter your password" [(ngModel)]="password"></ion-input>
              </ion-item>
              <ion-item *ngIf="errorMessage">
                <ion-label color="danger">{{errorMessage}}</ion-label>
              </ion-item>
            </ion-card>
            <ion-button (click)="tryLogin()" expand="block">Login</ion-button>
                  <!-- <ion-button (click)="resetPassword()" expand="block" *ngIf="passResetCheck">Send Reset Password</ion-button>
                  <ion-label (click)="passResetCheckToggle()" *ngIf="!passResetCheck">
                    Forgot Password?
                  </ion-label> -->
            <ion-button (click)="swipePrev()">Previous</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>